<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" color="primary" name="arrow-back" (click)="close()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div>
            <h1>Login</h1>
          </div>
          <div>
            <ion-item>
              <ion-input name="username" type="tel" placeholder="Please enter your phone number" mask="(000) 000-0000"  ngModel required>
              </ion-input>
              <ion-icon name="call"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-input name="password" [type]="showPassword ? 'text' : 'password'" placeholder="Password" ngModel required></ion-input>
              <ion-icon [name]="showPassword ? 'eye'  : 'eye-off'" slot="end" (click)="togglePassword()"></ion-icon>
            </ion-item>
            <ion-row>
              <ion-col size="12" text-left>

                <ion-button fill="clear" (click)="gotoForgot()">
                  Forgot your password?
                </ion-button>
              </ion-col>
            </ion-row>
          </div>
          <div>
            <ion-button size="medium" type="submit" [disabled]="form.invalid" expand="block">Sign in</ion-button>
            <ion-button size="medium" expand="block" fill="clear" (click)="gotoRegister()">
              Sign Up
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <ion-row>
    <ion-col size="12" text-center>
      <p>Sign in with</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="5" text-right>
      <img src="../../../assets/icon/facebook-icon.png" (click)="onFacbookLoginClick()">
    </ion-col>
    <ion-col size="2">
      
    </ion-col>
    <ion-col size="5" text-left>
      <img src="../../../assets/icon/line_icon.png" (click)="onLineLoginClick()">
    </ion-col>
  </ion-row>
</ion-content>