<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon
        slot="icon-only"
        color="primary"
        name="arrow-back"
        (click)="close()"
      ></ion-icon>
    </ion-buttons>
    <ion-title>ลงชื่อเข้าใช้</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-row>
    <ion-col size="12" text-center>
      <ion-avatar>
        <img src="../../../assets/icon/icon.png" />
      </ion-avatar>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" text-center>
      <h4>เราดีใจที่ท่านกลับมา จัดคิวออนไลน์</h4>
    </ion-col>
  </ion-row>

  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-item>
      <ion-label position="floating">เบอร์โทรศัพท์</ion-label>
      <ion-input
        name="username"
        type="tel"
        mask="(000) 000-0000"
        ngModel
        required
      >
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">รหัสผ่าน</ion-label>
      <ion-input
        name="password"
        [type]="showPassword ? 'text' : 'password'"
        ngModel
        required
      ></ion-input>
      <ion-icon
      [name]="showPassword ? 'eye'  : 'eye-off'"
      slot="end"
      (click)="togglePassword()"
      align-self-center
    ></ion-icon>
      
    </ion-item>
    <ion-row>
      <ion-col size="12">
        <ion-button
          size="medium"
          type="submit"
          [disabled]="form.invalid"
          expand="block"
          >ลงชื่อเข้าใช้</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" text-left>
        <ion-button fill="clear" expand="block" (click)="gotoForgot()">
          ลืมรหัสผ่าน คลิ๊กเลย
        </ion-button>
      </ion-col>
    </ion-row>
  </form>

  <!-- <ion-row>
    <ion-col size="12" text-center>
      <p>หรือ ลงชื่อเข้าใช้ผ่าน</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="5" text-right>
      <img
        class="social"
        src="../../../assets/icon/facebook-icon.png"
        (click)="onFacbookLoginClick()"
      />
    </ion-col>
    <ion-col size="2"> </ion-col>
    <ion-col size="5" text-left>
      <img
        class="social"
        src="../../../assets/icon/line_icon.png"
        (click)="onLineLoginClick()"
      />
    </ion-col>
  </ion-row> -->
</ion-content>
