<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon slot="icon-only" color="primary" name="arrow-back" (click)="goBack()"></ion-icon>
    </ion-buttons>
    <ion-title>ประเภทการให้บริการ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      ประเภทการให้บริการ
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-button size="medium" expand="block" (click)="addItem()">เพิ่มประเภท +</ion-button>
  </ion-row>




</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button size="medium" expand="block" (click)="saveSeviceType()">บันทึกข้อมูลประเภทการให้บริการ</ion-button>
  </ion-toolbar>
</ion-footer>