ion-footer {
    background:#fff;
}
.card-background-page {
    ion-card {
        position: relative;
        text-align: center;
    }
    .card-info {
        position: absolute;
        bottom: 0;
        width: 100%;
        font-weight: bold;
        opacity: 0.5;
        background: #000;
        color: #fff;
    }
    .card-title {
        font-size: 2em;
    }
    .card-subtitle {
        font-size: 1em !important;
    }
}
