<ion-header>
  <ion-toolbar>
    <ion-title>shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list no-border>
    <ion-list-header>
      Classes
    </ion-list-header>

    <ion-item>
      <ion-icon name="planet" slot="start"></ion-icon>
      Astronomy
      <ion-note slot="end">
        To the moon
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-toggle checked="false" slot="end"></ion-toggle>
      <ion-label>
        Muggle Studies
      </ion-label>
      <ion-icon name="body" slot="start"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon name="leaf" slot="start"></ion-icon>
      Herbology
      <ion-icon name="rose" slot="end" color="secondary"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-icon name="flask" slot="start"></ion-icon>
      Potions
      <ion-note slot="end">
        Poisonous
      </ion-note>
    </ion-item>
  </ion-list>

  
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col padding="10">
      <ion-button size="medium" expand="block" (click)="logout()"
        >ออกจากระบบ</ion-button
      >
    </ion-col>
  </ion-row>
</ion-footer>
