<ion-header no-border>
  <ion-toolbar color="primary"> </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="row-header">
    <ion-col size="12">
      <h1 *ngIf="myShop">{{myShop.name}}</h1>
    </ion-col>
  </ion-row>

 
  <ion-card *ngIf="user">
    <ion-item button (click)="openHours()" lines="none">
       {{user.displayname}}
      <ion-avatar slot="start">
        <img [src]="user.profileImageURL" />
      </ion-avatar>
    </ion-item>
  </ion-card>

  
  <ion-card>
    <ion-list lines="none">
      <ion-item button (click)="shopEdit()">
        ข้อมูลทั่วไป
      </ion-item>
      <ion-item button (click)="openHours()">
        เวลาเปิด-ปิด
      </ion-item>
      <ion-item button (click)="shopServiceType()">
        ประเภทการให้บริการ
      </ion-item>
      <ion-item button (click)="gotoLocation()">
        พิกัดร้าน
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col padding="10">
      <ion-button size="medium" expand="block" (click)="logout()"
        >ออกจากระบบ</ion-button
      >
    </ion-col>
  </ion-row>
</ion-footer>
