.review-image{
    height: 170px;
    overflow: hidden;
}
.review-image-content{
    width: 100%;
    
}

.review-comment{
    margin-top: 10px;
    padding: 20px 20px 20px 0px;
}

.review-comment-item{
    display: flex;
    padding-bottom: 10px;
}