<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon
        slot="icon-only"
        color="primary"
        name="arrow-back"
        (click)="close()"
      ></ion-icon>
    </ion-buttons>
    <ion-title>ระบุพิกัดร้าน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map_canvas">
    <img src="assets/marker.png">
  </div>
</ion-content>
<ion-footer>

  <ion-row>
    <ion-col padding="10" >
      <ion-button size="large" expand="block" (click)="updateLocation()">บันทึกพิกัดร้านค้า</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>

