ion-avatar {
    margin: -70px auto;
    width: 80% !important;
    height: 80% !important;
    max-width: 80px !important; //any size
    max-height: 80px !important; //any size
}

h2 {
    margin: 80px auto;
}