<ion-content fullscreen="true">
  <img src="../../../assets/lannding.png" />
  <ion-avatar>
    <img src="../../../assets/icon/icon.png" />
  </ion-avatar>

  <h2 text-center>ยินดีต้อนรับเข้าสู่ จัดคิวออนไลน์</h2>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col padding="10">
      <ion-button size="medium" expand="block" (click)="gotoRegister()">ลงทะเบียน</ion-button>
      <ion-button fill="clear" expand="block" (click)="gotoLogin()">
        ลงชื่อเข้าใช้
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
