<ion-content>
  <ion-slides pager="true">

    <ion-slide>
      <div class="slide">
        <img src="./../../assets/slide-1.png"/>
        <h2>ลงทะเบียนร้านค้า</h2>
        <p>ลงทะเบียนร้านค้าผ่านแอปพลิเคชัน <b>จัดคิว</b> ด้วย ชื่อร้าน และ พิกัดร้าน</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="./../../assets/slide-2.png"/>
      <h2>ลูกค้าจองคิวร้านของคุณ</h2>
      <p>แอปพลิเคชัน <b>จัดคิว</b> จะทำให้ลูกค้ามากมาย รู้จักร้านของคุณ และจองคิวมาที่ร้านคุณได้อย่างสะดวก</p>
    </ion-slide>

    <ion-slide>
      <img src="./../../assets/slide-3.png"/>
      <h2>จัดการเวลาได้อย่างเป็นระบบ</h2>
      <p>แอปพลิเคชัน <b>จัดคิว</b> จะทำให้ร้านของคุณบริหารเวลาได้อย่างคุ้มค่า และ รวดเร็ว</p>
    </ion-slide>

    <ion-slide>
      <img src="./../../assets/slide-4.png"/>
      <h2>เริ่มเลยวันนี้</h2>
      <form #form="ngForm" (ngSubmit)="registerShop(form)">
        <ion-item>
          <ion-label position="floating">ชื่อร้านค้า</ion-label>
          <ion-input
            name="name"
            type="text"
            ngModel
            required
          >
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">ประเภทกิจการ</ion-label>
          <ion-select name="shoptype" ngModel required>
            <ion-select-option value="1">ร้านเสริมสวย</ion-select-option>
            <ion-select-option value="2">ร้านกาแฟ</ion-select-option>
            <ion-select-option value="3">ฟิตเนส</ion-select-option>
            <ion-select-option value="4">สนามกอล์ฟ</ion-select-option>
            <ion-select-option value="5">ร้านสัตว์เลี้ยง</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-row>
          <ion-col size="12"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-button
              size="medium"
              type="submit"
              [disabled]="form.invalid"
              expand="block"
              > <ion-icon name="navigate" slot="start"></ion-icon>ระบุพิกัดร้าน</ion-button
            >
          </ion-col>
        </ion-row>
      </form>
    </ion-slide>

  </ion-slides>
</ion-content>
